
body {
  background-color: lightblue;
}

.img-circle {
  align: center;
  padding: 10px;
  margin-top: 15px;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.team-organization {
  text-align: center;
}

.team-organization li {
  padding: 20px;
}

